//Global styles
* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    font-family: $primary-font;
    font-size: $primary-font-size;
    color: $primary-text-color;
    font-weight:$primary-font-weight;
}

@media screen and (max-width:991px) {
    body {
        font-size: 1.1rem;
    }
}