@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');


//brand colors

$yellow: #f5c518;
$dark-gray:#666;
$gray:#aaa;
$light-gray:#E7EAED;
$blue:#0071bf;
$white: #fff;
$black: #000;
$light-black: #303435;
$dark-black: #333;

//font styles
$primary-font: 'Roboto', sans-serif;
$primary-text-color: $black;
$primary-font-size: 1.4rem;
$primary-font-weight: 400;

$secondary-font: 'Lato', sans-serif;
$tertiary-font: Arial, Helvetica, sans-serif;
